@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    background: url(../img/Serenavanderwoodsen.png);
    background-size: cover;
    background-repeat: none;
    padding: 16%;
    margin-bottom: 5%;
}

body {
    background: url(../img/img6.png);
    background-size: 100%;
    
}

nav {
    background-color: #FFFF;
    padding: 0.1%;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    position: fixed;
    width: 100%;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-left: 1%;

}

nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.titulo {
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
    font-size: 150%;
}

section {
    max-width: 100%;
    margin: 0 auto;
    column-count: 4;
}

@media (max-width: 400px) {
    section {
        column-count: 2;
    }
}



img {
    display: block;
    max-width: 100%;
}

.box {
    background: white;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(50,50,90,.1);
    overflow: hidden;
    break-inside: avoid-column;
    height: 400px;
    padding: 10px;
}

.box p {
    padding: 10px;
    font-family: sans-serif;
    color: #6B7C93;
    font-size: .875em;
    line-height: 1.4em;
}

.box a {
    text-decoration: none;
    font-size: 100%;

}



.imgaspas {
    width: 5%;
    display: inline-block;

}

strong {
    color: #FFFF;
}


.list {
    color: #FFFF;
    display: inline-block;
    font-size: 50px;
    padding: 5%;
    position: relative;
    text-align: center;
}

.no-ordem {
    text-align: center;
}